doctype html
html
  head
    style= style
  body
    .content
      each restaurant in restaurants
        - const menus = restaurant.menus
        - const length = menus.length
        table
          tr
              th(colspan=length)
                .restaurantName= restaurant.name
          tr
            each menu, i in menus
              th
                .menuName Menu #{ i+1 } 
                  span.price (#{ menu.price.toFixed(2) } chf)
          tr.no-border-bottom
            each menu in menus
              - const rowspan = (menu.isVegetarian || menu.infos) ? 1 : 2
              td(rowspan=rowspan)
                .dishes
                  each dish in menu.dishes
                    span= dish
                    br
          tr
            each menu in menus
              - if(menu.isVegetarian || menu.infos)
                td.no-border-top
                  .infos
                    - if(menu.isVegetarian)
                      span Menu végétarien
                    - if(menu.infos)
                      span= menu.infos