$border: 1px solid black;

* {
  text-align: center;
  margin: auto;
}

.content {
  display: inline-block;
}

table {
  margin-top: 10px;
  border: 3px solid black;
  border-collapse: collapse;
}

div {
  margin: 4px 16px 4px 16px;
}

td {
  border-right: $border;
  border-left: $border;
}

th {
  border: $border
}

.restaurantName, .menuName {
  font-weight: bold;
}

.infos {
  margin-top: 10px;
  font-style: italic;
}